<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>prj_Web_030_Servlet_Cours</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description>Servlet qui dit bonjour</description>
        <display-name>Bonjour</display-name>
        <servlet-name>Bonjour</servlet-name>
        <servlet-class>controllers.Bonjour</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Bonjour</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>Servlet appelante</description>
        <display-name>Appelante</display-name>
        <servlet-name>Appelante</servlet-name>
        <servlet-class>controllers.Appelante</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Appelante</servlet-name>
        <url-pattern>/appelante</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>Servlet appelee</description>
        <display-name>Appelee</display-name>
        <servlet-name>Appelee</servlet-name>
        <servlet-class>controllers.Appelee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Appelee</servlet-name>
        <url-pattern>/appelee</url-pattern>
    </servlet-mapping>
</web-app>